node_modules
.tmp
.vscode
.DS_Store
# config/env/*
config/env/production.js
config/env/kaavya-production.js
config/env/satyameva-production.js
config/env/kaavya-production.js
config/env/production.js
