<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
</style>
<style>
  div {
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
  }
</style>
<div>
  Welcome!<br />
  This Console is for BluOne India 
</div>