<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
</style>
<style>
  div {
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    padding: 50px 0 0 50px;
  }
</style>
<div>
  <h1 style="font-weight: 700;margin:0">Bluone!</h1><br />
  Welcome to Console.
</div>